.modal-content {
  background-color: #373a3e;
  color: #fff;
  width: 1500px;
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0) !important;
  transition: none !important;
}

.modal-backdrop.show {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-header .btn-close {
  filter: invert(1);
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-label{
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.note {
  font-size: 12px;
  color: #f8f9fa;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
}


/* --------- table --------- */

#services-table tbody {
  display: block;
  max-height: 175px;
  overflow: auto;
}

#services-table thead,
#services-table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

#services-table thead {
  width: calc(100% - 5px);
}

.table-row{
  height: 35px;
}